/* The Modal (background */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#myBtn{
    background-color: rgb(32, 31, 31);
    margin-left: 40%;
    height: 30%;
    color: white;

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  background-color: royalblue;
  margin-left: 35%;
  margin-top: 5%;
  text-align: center;
  padding: 20px;
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.title{
    background-color: blue;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  

}

.parent{
    border: 2px solid #888;
}


.element-parent{
    display: flex;
    background-color: rgb(53, 39, 175);
    align-items: center;
    color: white;
    height: 20PX;
    margin-top: 10px;
}

.element-parent p{
    padding-left: 10px;
}






@media (max-width: 900px) {
    .modal-content {
        background-color: lightgreen;
        width: 50%;
        margin-top: 7%;
        margin-left: 23%;
        
      
    }
  }